@font-face {
  font-family: "Roboto Mono";
  src: url("../../assets/RobotoMono-VariableFont_wght.ttf"); }

body {
  font-family: 'Roboto Mono';
}

a, a:visited, a:hover, a:active, .text-epic {
  color: #5839f8;
}

a {
  font-weight: bold;
}

.text-fresh {
  background-color:#00d872;
  color: white;
  padding: 0 .6rem;
}

.bg-fresh {
  background-color: #00d872;
}

.font-epic {
  font-family: "Roboto Mono";
}

h1 {
  font-size: 3.5rem;
}

h1 > .symbol {
  font-size: 5rem;
}

@media (min-width: 768px) {

  h1 {
    font-size: 5rem;
  }

  h1 > .symbol {
    font-size: 7.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin: 3rem auto 2rem;
}

h3 {
  margin: 2rem auto 1rem;
}

.symbol-md {
  font-size: 5rem;
}

.symbol-lg {
  font-size: 8rem;
}