@font-face {
  font-family: "Architect's Daughter";
  src: url("../../assets/ArchitectsDaughter-Regular.ttf"); }

.text-epic {
  color: #5839f8;
  font-weight: bold;
}

.text-fresh {
  background-color: #00d872;
  color: white;
  padding: 0 .6rem;
}

.font-epic {
  font-family: "Architect's Daughter";
}